In [22]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [23]:
players = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/players.csv')
clubs = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/clubs.csv')
valuations = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/player_valuations.csv')
games = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/games.csv')
lineup = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/game_lineups.csv')
club_games = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/club_games.csv')
game_events = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/game_events.csv')
appearances = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/appearances.csv')

In [24]:
# Players 테이블에서 필요없는 칼럼 제거
players = players.drop(['last_season', 'current_club_id', 'image_url', 'url', 'first_name', 'last_name', 'agent_name', 'city_of_birth', 'contract_expiration_date', 'market_value_in_eur'], axis=1)

In [25]:
players.head()

,player_id,name,player_code,country_of_birth,country_of_citizenship,date_of_birth,sub_position,position,foot,height_in_cm,current_club_domestic_competition_id,current_club_name,highest_market_value_in_eur
0,10,Miroslav Klose,miroslav-klose,Poland,Germany,1978-06-09,Centre-Forward,Attack,right,184.0,IT1,Società Sportiva Lazio S.p.A.,30000000.0
1,26,Roman Weidenfeller,roman-weidenfeller,Germany,Germany,1980-08-06,Goalkeeper,Goalkeeper,left,190.0,L1,Borussia Dortmund,8000000.0
2,65,Dimitar Berbatov,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,NaN,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,34500000.0
3,77,Lúcio,lucio,Brazil,Brazil,1978-05-08,Centre-Back,Defender,NaN,NaN,IT1,Juventus Football Club,24500000.0
4,80,Tom Starke,tom-starke,East Germany (GDR),Germany,1981-03-18,Goalkeeper,Goalkeeper,right,194.0,L1,FC Bayern München,3000000.0

In [26]:
# 프리미어리그만 선택
players = players[players['current_club_domestic_competition_id'] == 'GB1']

In [27]:
# Valuations 에서 필요없는 칼럼 제거
valuations = valuations.drop(['player_club_domestic_competition_id'], axis=1)

In [28]:
valuations.head()

   player_id        date  market_value_in_eur  current_club_id
0     405973  2000-01-20               150000             3057
1     342216  2001-07-20               100000             1241
2       3132  2003-12-09               400000              126
3       6893  2003-12-15               900000              984
4         10  2004-10-04              7000000              398

In [29]:
valuations = valuations.rename(columns={'date' : 'valuations_date'})

In [30]:
# Players + Valuations 테이블 결합
df_players = pd.merge(players, valuations, on='player_id')

In [31]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31246 entries, 0 to 31245
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             31246 non-null  int64
 1   name                                  31246 non-null  object
 2   player_code                           31246 non-null  object
 3   country_of_birth                      30629 non-null  object
 4   country_of_citizenship                30751 non-null  object
 5   date_of_birth                         31246 non-null  object
 6   sub_position                          31243 non-null  object
 7   position                              31246 non-null  object
 8   foot                                  30596 non-null  object
 9   height_in_cm                          30879 non-null  float64
 10  current_club_domestic_competition_id  31246 non-null  object
 11  current_club_name                     31246 non-null  object
 12  highest_market_value_in_eur           31246 non-null  float64
 13  valuations_date                       31246 non-null  object
 14  market_value_in_eur                   31246 non-null  int64
 15  current_club_id                       31246 non-null  int64
dtypes: float64(2), int64(3), object(11)
memory usage: 3.8+ MB

In [32]:
# 결측치 확인
df_players.isnull().sum()

player_id                                 0
name                                      0
player_code                               0
country_of_birth                        617
country_of_citizenship                  495
date_of_birth                             0
sub_position                              3
position                                  0
foot                                    650
height_in_cm                            367
current_club_domestic_competition_id      0
current_club_name                         0
highest_market_value_in_eur               0
valuations_date                           0
market_value_in_eur                       0
current_club_id                           0
dtype: int64

In [33]:
df_players.head()

,player_id,name,player_code,country_of_birth,country_of_citizenship,date_of_birth,sub_position,position,foot,height_in_cm,current_club_domestic_competition_id,current_club_name,highest_market_value_in_eur,valuations_date,market_value_in_eur,current_club_id
0,132,Tomas Rosicky,tomas-rosicky,CSSR,Czech Republic,1980-10-04,Attacking Midfield,Midfield,both,179.0,GB1,Arsenal Football Club,17500000.0,2004-10-04,13000000,11
1,132,Tomas Rosicky,tomas-rosicky,CSSR,Czech Republic,1980-10-04,Attacking Midfield,Midfield,both,179.0,GB1,Arsenal Football Club,17500000.0,2005-03-07,11000000,11
2,132,Tomas Rosicky,tomas-rosicky,CSSR,Czech Republic,1980-10-04,Attacking Midfield,Midfield,both,179.0,GB1,Arsenal Football Club,17500000.0,2005-09-04,10000000,11
3,132,Tomas Rosicky,tomas-rosicky,CSSR,Czech Republic,1980-10-04,Attacking Midfield,Midfield,both,179.0,GB1,Arsenal Football Club,17500000.0,2006-01-09,11000000,11
4,132,Tomas Rosicky,tomas-rosicky,CSSR,Czech Republic,1980-10-04,Attacking Midfield,Midfield,both,179.0,GB1,Arsenal Football Club,17500000.0,2007-04-25,14400000,11

In [34]:
appearances

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556964,4300788_632349,4300788,632349,31,31,2024-03-17,Jarell Quansah,FAC,0,0,0,0,120
1556965,4300788_69633,4300788,69633,985,985,2024-03-17,Christian Eriksen,FAC,0,0,0,0,40
1556966,4300788_712117,4300788,712117,31,31,2024-03-17,Bobby Clark,FAC,0,0,0,0,6
1556967,4300788_811779,4300788,811779,985,985,2024-03-17,Alejandro Garnacho,FAC,0,0,0,1,120
1556968,4300788_820374,4300788,820374,985,985,2024-03-17,Kobbie Mainoo,FAC,0,0,0,0,80

In [35]:
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556969 entries, 0 to 1556968
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1556969 non-null  object
 1   game_id                 1556969 non-null  int64
 2   player_id               1556969 non-null  int64
 3   player_club_id          1556969 non-null  int64
 4   player_current_club_id  1556969 non-null  int64
 5   date                    1556969 non-null  object
 6   player_name             1556963 non-null  object
 7   competition_id          1556969 non-null  object
 8   yellow_cards            1556969 non-null  int64
 9   red_cards               1556969 non-null  int64
 10  goals                   1556969 non-null  int64
 11  assists                 1556969 non-null  int64
 12  minutes_played          1556969 non-null  int64
dtypes: int64(9), object(4)
memory usage: 154.4+ MB

In [36]:
#Appreances 필요없는 칼럼 삭제 및 프리미어리그만 선택
appearances = appearances.drop(['player_current_club_id'], axis=1)
appearances = appearances[appearances['competition_id'] == 'GB1']

In [37]:
#날짜 2018 ~ 2024까지
start_date = '2018-08-01'
end_date = '2024-12-31'
mask = (appearances['date'] >= start_date) & (appearances['date'] <= end_date)
appearances = appearances.loc[mask]

In [38]:
appearances

,appearance_id,game_id,player_id,player_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
785591,3050172_10003,3050172,10003,1003,2018-08-10,Wes Morgan,GB1,0,0,0,0,90
785592,3050172_118287,3050172,118287,1003,2018-08-10,Rachid Ghezzal,GB1,0,0,0,0,27
785593,3050172_122153,3050172,122153,985,2018-08-10,Paul Pogba,GB1,0,0,1,0,84
785594,3050172_16911,3050172,16911,1003,2018-08-10,Kasper Schmeichel,GB1,0,0,0,0,90
785595,3050172_177907,3050172,177907,1003,2018-08-10,Harry Maguire,GB1,0,0,0,0,90
...,...,...,...,...,...,...,...,...,...,...,...,...
1555966,4095368_468002,4095368,468002,379,2024-03-17,Ben Johnson,GB1,0,0,0,0,24
1555967,4095368_503743,4095368,503743,405,2024-03-17,Morgan Rogers,GB1,0,0,0,0,63
1555968,4095368_543499,4095368,543499,379,2024-03-17,Mohammed Kudus,GB1,1,0,0,0,90
1555969,4095368_649317,4095368,649317,405,2024-03-17,Jhon Durán,GB1,0,0,0,0,45
1555970,4095368_92571,4095368,92571,379,2024-03-17,Aaron Cresswell,GB1,0,0,0,0,6

In [39]:
appearances = appearances.rename(columns={'date' : 'appearances_date'})

In [40]:
df_players = pd.merge(df_players, appearances, on='player_id')

In [41]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1179021 entries, 0 to 1179020
Data columns (total 27 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   player_id                             1179021 non-null  int64
 1   name                                  1179021 non-null  object
 2   player_code                           1179021 non-null  object
 3   country_of_birth                      1152071 non-null  object
 4   country_of_citizenship                1152239 non-null  object
 5   date_of_birth                         1179021 non-null  object
 6   sub_position                          1179021 non-null  object
 7   position                              1179021 non-null  object
 8   foot                                  1177434 non-null  object
 9   height_in_cm                          1178994 non-null  float64
 10  current_club_domestic_competition_id  1179021 non-null  object
 11  current_club_name                     1179021 non-null  object
 12  highest_market_value_in_eur           1179021 non-null  float64
 13  valuations_date                       1179021 non-null  object
 14  market_value_in_eur                   1179021 non-null  int64
 15  current_club_id                       1179021 non-null  int64
 16  appearance_id                         1179021 non-null  object
 17  game_id                               1179021 non-null  int64
 18  player_club_id                        1179021 non-null  int64
 19  appearances_date                      1179021 non-null  object
 20  player_name                           1179021 non-null  object
 21  competition_id                        1179021 non-null  object
 22  yellow_cards                          1179021 non-null  int64
 23  red_cards                             1179021 non-null  int64
 24  goals                                 1179021 non-null  int64
 25  assists                               1179021 non-null  int64
 26  minutes_played                        1179021 non-null  int64
dtypes: float64(2), int64(10), object(15)
memory usage: 242.9+ MB