In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

pd.set_option('display.max_columns', None)

In [2]:
players = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/players.csv')
clubs = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/clubs.csv')
valuations = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/player_valuations.csv')
games = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/games.csv')
lineup = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/game_lineups.csv')
club_games = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/club_games.csv')
game_events = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/game_events.csv')
appearances = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/appearances.csv')

In [3]:
clubs = clubs.drop(['club_code', 'filename', 'url'], axis=1)

In [4]:
club_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134842 entries, 0 to 134841
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                134842 non-null  int64
 1   club_id                134842 non-null  int64
 2   own_goals              134842 non-null  int64
 3   own_position           94898 non-null   float64
 4   own_manager_name       133350 non-null  object
 5   opponent_id            134842 non-null  int64
 6   opponent_goals         134842 non-null  int64
 7   opponent_position      94898 non-null   float64
 8   opponent_manager_name  133350 non-null  object
 9   hosting                134842 non-null  object
 10  is_win                 134842 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 11.3+ MB

In [5]:
club_df = pd.merge(clubs, club_games, on='club_id', how='inner')

In [6]:
club_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113180 entries, 0 to 113179
Data columns (total 24 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   club_id                  113180 non-null  int64
 1   name                     113180 non-null  object
 2   domestic_competition_id  113180 non-null  object
 3   total_market_value       0 non-null       float64
 4   squad_size               113180 non-null  int64
 5   average_age              108193 non-null  float64
 6   foreigners_number        113180 non-null  int64
 7   foreigners_percentage    106863 non-null  float64
 8   national_team_players    113180 non-null  int64
 9   stadium_name             113180 non-null  object
 10  stadium_seats            113180 non-null  int64
 11  net_transfer_record      113180 non-null  object
 12  coach_name               0 non-null       float64
 13  last_season              113180 non-null  int64
 14  game_id                  113180 non-null  int64
 15  own_goals                113180 non-null  int64
 16  own_position             94898 non-null   float64
 17  own_manager_name         112667 non-null  object
 18  opponent_id              113180 non-null  int64
 19  opponent_goals           113180 non-null  int64
 20  opponent_position        94898 non-null   float64
 21  opponent_manager_name    112667 non-null  object
 22  hosting                  113180 non-null  object
 23  is_win                   113180 non-null  int64
dtypes: float64(6), int64(11), object(7)
memory usage: 20.7+ MB

In [7]:
club_df = club_df.drop(['total_market_value', 'coach_name'], axis=1)

In [8]:
big5club = club_df[club_df['domestic_competition_id'].isin(['GB1', 'ES1', 'FR1', 'IT1', 'L1'])]

In [9]:
games

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2321044,L1,2013,2. Matchday,2013-08-18,16,23,2,1,1.0,15.0,Jürgen Klopp,Torsten Lieberknecht,SIGNAL IDUNA PARK,80200.0,Peter Sippel,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,4-3-2-1,Borussia Dortmund,Eintracht Braunschweig,2:1,domestic_league
1,2321060,L1,2013,3. Matchday,2013-08-25,23,24,0,2,18.0,11.0,Torsten Lieberknecht,Armin Veh,EINTRACHT-Stadion,23325.0,Wolfgang Stark,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-2-3-1,Eintracht Braunschweig,Eintracht Frankfurt Fußball AG,0:2,domestic_league
2,2321086,L1,2013,6. Matchday,2013-09-21,4,16,1,1,15.0,1.0,Michael Wiesinger,Jürgen Klopp,Max-Morlock-Stadion,50000.0,Knut Kircher,https://www.transfermarkt.co.uk/1-fc-nuremberg...,4-2-3-1,4-2-3-1,1.FC Nuremberg,Borussia Dortmund,1:1,domestic_league
3,2321152,L1,2013,11. Matchday,2013-11-02,44,33,0,2,7.0,6.0,Jos Luhukay,Jens Keller,Olympiastadion Berlin,69277.0,Günter Perl,https://www.transfermarkt.co.uk/hertha-bsc_fc-...,4-2-3-1,4-2-3-1,Hertha BSC,FC Schalke 04,0:2,domestic_league
4,2321205,L1,2013,17. Matchday,2013-12-21,41,39,2,3,14.0,9.0,Bert van Marwijk,Thomas Tuchel,Volksparkstadion,50000.0,Bastian Dankert,https://www.transfermarkt.co.uk/hamburger-sv_1...,4-2-3-1,4-4-2 Diamond,Hamburger SV,1. Fußball- und Sportverein Mainz 05,2:3,domestic_league
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67416,2629035,NLP,2015,Third Round,2015-10-27,383,16866,6,0,NaN,NaN,Phillip Cocu,Hennie in 't Hof,Philips Stadion,31000.0,Allard Lindhout,https://www.transfermarkt.co.uk/spielbericht/i...,4-3-3 Attacking,4-4-2,Eindhovense Voetbalvereniging Philips Sport Ve...,NaN,6:0,domestic_cup
67417,3092951,CLQ,2018,Qualifying Round 2nd leg,2018-08-29,383,713,3,0,NaN,NaN,Mark van Bommel,Aleksey Baga,Philips Stadion,34200.0,Anthony Taylor,https://www.transfermarkt.co.uk/spielbericht/i...,4-3-3 Defending,4-5-1,Eindhovense Voetbalvereniging Philips Sport Ve...,NaN,3:0,international_cup
67418,4164101,CGB,2023,Second Round,2023-08-29,512,1194,6,1,NaN,NaN,Alex Neil,Matt Taylor,bet365 Stadium,9410.0,Michael Salisbury,https://www.transfermarkt.co.uk/spielbericht/i...,Starting Line-up: 4-2-3-1,Starting Line-up: 4-2-3-1,Stoke City,NaN,6:1,other
67419,3143618,FAC,2018,Third Round Replay,2019-01-15,512,3054,2,3,NaN,NaN,Nathan Jones,Sam Ricketts,bet365 Stadium,10261.0,Geoff Eltringham,https://www.transfermarkt.co.uk/spielbericht/i...,4-4-2 Diamond,4-2-3-1,Stoke City,NaN,2:3,domestic_cup
67420,4233201,SFA,2023,Fourth Round,2024-01-20,987,3020,3,1,NaN,NaN,Stuart Kettlewell,Andy Graham,Fir Park,4119.0,John Beaton,https://www.transfermarkt.co.uk/spielbericht/i...,NaN,Starting Line-up: 4-2-3-1,Motherwell Football Club,NaN,3:1,domestic_cup

In [10]:
games = games.drop(['season', 'round', 'url', 'competition_type', 'stadium', 'aggregate', 'home_club_name', 'away_club_name', 'competition_id'], axis = 1)

In [11]:
#게임 날짜 2018 ~ 2024까지
start_date = '2018-08-01'
end_date = '2024-12-31'
mask = (games['date'] >= start_date) & (games['date'] <= end_date)
games = games.loc[mask]

In [12]:
games['attendance'] = games['attendance'].fillna(0)

In [13]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32835 entries, 1860 to 67420
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 32835 non-null  int64
 1   date                    32835 non-null  object
 2   home_club_id            32835 non-null  int64
 3   away_club_id            32835 non-null  int64
 4   home_club_goals         32835 non-null  int64
 5   away_club_goals         32835 non-null  int64
 6   home_club_position      22978 non-null  float64
 7   away_club_position      22978 non-null  float64
 8   home_club_manager_name  32475 non-null  object
 9   away_club_manager_name  32475 non-null  object
 10  attendance              32835 non-null  float64
 11  referee                 32565 non-null  object
 12  home_club_formation     32143 non-null  object
 13  away_club_formation     32251 non-null  object
dtypes: float64(3), int64(5), object(6)
memory usage: 3.8+ MB

In [14]:
big5club.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51184 entries, 0 to 113179
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club_id                  51184 non-null  int64
 1   name                     51184 non-null  object
 2   domestic_competition_id  51184 non-null  object
 3   squad_size               51184 non-null  int64
 4   average_age              50901 non-null  float64
 5   foreigners_number        51184 non-null  int64
 6   foreigners_percentage    50901 non-null  float64
 7   national_team_players    51184 non-null  int64
 8   stadium_name             51184 non-null  object
 9   stadium_seats            51184 non-null  int64
 10  net_transfer_record      51184 non-null  object
 11  last_season              51184 non-null  int64
 12  game_id                  51184 non-null  int64
 13  own_goals                51184 non-null  int64
 14  own_position             42624 non-null  float64
 15  own_manager_name         51162 non-null  object
 16  opponent_id              51184 non-null  int64
 17  opponent_goals           51184 non-null  int64
 18  opponent_position        42624 non-null  float64
 19  opponent_manager_name    51162 non-null  object
 20  hosting                  51184 non-null  object
 21  is_win                   51184 non-null  int64
dtypes: float64(4), int64(11), object(7)
memory usage: 9.0+ MB

In [15]:
df = pd.merge(big5club, games, on='game_id', how='inner')

In [19]:
df['date'] = pd.to_datetime(df['date'])

In [18]:
df.groupby(['domestic_competition_id', 'name'])['is_win'].sum().reset_index()

,domestic_competition_id,name,date,is_win
0,ES1,Athletic Club Bilbao,2018-08-20,1
1,ES1,Athletic Club Bilbao,2018-08-27,0
2,ES1,Athletic Club Bilbao,2018-09-15,0
3,ES1,Athletic Club Bilbao,2018-09-23,0
4,ES1,Athletic Club Bilbao,2018-09-26,0
...,...,...,...,...
24895,L1,Verein für Leibesübungen Wolfsburg,2024-02-17,0
24896,L1,Verein für Leibesübungen Wolfsburg,2024-02-25,0
24897,L1,Verein für Leibesübungen Wolfsburg,2024-03-02,0
24898,L1,Verein für Leibesübungen Wolfsburg,2024-03-10,0
24899,L1,Verein für Leibesübungen Wolfsburg,2024-03-16,0

In [22]:
# season 함수 정의
def get_season(date):
    if pd.Timestamp('2018-08-10') <= date <= pd.Timestamp('2019-05-12'):
        return '1819'
    elif pd.Timestamp('2019-08-09') <= date <= pd.Timestamp('2020-07-26'):
        return '1920'
    elif pd.Timestamp('2020-09-12') <= date <= pd.Timestamp('2021-05-23'):
        return '2021'
    elif pd.Timestamp('2021-08-14') <= date <= pd.Timestamp('2022-05-22'):
        return '2122'
    elif pd.Timestamp('2022-08-06') <= date <= pd.Timestamp('2023-05-28'):
        return '2223'
    elif pd.Timestamp('2023-08-11') <= date <= pd.Timestamp('2024-05-19'):
        return '2324'
    else:
        return None
    
# date를 기반으로 season 칼럼 생성
df['season'] = df['date'].apply(get_season)

In [41]:
df2 = df.groupby(['domestic_competition_id', 'name', 'season','own_goals', 'opponent_goals', 'own_position', 'opponent_position', 'attendance'])['is_win'].sum().reset_index()

In [42]:
df2

,domestic_competition_id,name,season,own_goals,opponent_goals,own_position,opponent_position,attendance,is_win
0,ES1,Athletic Club Bilbao,1819,0,0,14.0,1.0,47557.0,0
1,ES1,Athletic Club Bilbao,1819,0,0,16.0,14.0,39261.0,0
2,ES1,Athletic Club Bilbao,1819,0,0,18.0,6.0,19349.0,0
3,ES1,Athletic Club Bilbao,1819,0,1,7.0,17.0,22151.0,0
4,ES1,Athletic Club Bilbao,1819,0,1,8.0,4.0,11617.0,0
...,...,...,...,...,...,...,...,...,...
20369,L1,Verein für Leibesübungen Wolfsburg,2324,2,2,9.0,12.0,28917.0,0
20370,L1,Verein für Leibesübungen Wolfsburg,2324,2,2,11.0,8.0,22917.0,0
20371,L1,Verein für Leibesübungen Wolfsburg,2324,2,2,13.0,6.0,56500.0,0
20372,L1,Verein für Leibesübungen Wolfsburg,2324,2,3,9.0,10.0,28000.0,0
20373,L1,Verein für Leibesübungen Wolfsburg,2324,2,3,13.0,3.0,28917.0,0