In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
players = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/players.csv')
clubs = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/clubs.csv')
valuations = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/player_valuations.csv')
games = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/games.csv')
lineup = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/game_lineups.csv')
club_games = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/club_games.csv')
game_events = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/game_events.csv')
competitions = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/competitions.csv')
appearances = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/appearances.csv')

In [3]:
df = pd.merge(players, appearances, on='player_id')
df = df[df['competition_id'] == 'GB1']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123609 entries, 288 to 1556556
Data columns (total 35 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   player_id                             123609 non-null  int64
 1   first_name                            117059 non-null  object
 2   last_name                             123609 non-null  object
 3   name                                  123609 non-null  object
 4   last_season                           123609 non-null  int64
 5   current_club_id                       123609 non-null  int64
 6   player_code                           123609 non-null  object
 7   country_of_birth                      121178 non-null  object
 8   city_of_birth                         123565 non-null  object
 9   country_of_citizenship                121220 non-null  object
 10  date_of_birth                         123609 non-null  object
 11  sub_position                          123609 non-null  object
 12  position                              123609 non-null  object
 13  foot                                  122806 non-null  object
 14  height_in_cm                          123038 non-null  float64
 15  contract_expiration_date              89863 non-null   object
 16  agent_name                            82760 non-null   object
 17  image_url                             123609 non-null  object
 18  url                                   123609 non-null  object
 19  current_club_domestic_competition_id  123609 non-null  object
 20  current_club_name                     123609 non-null  object
 21  market_value_in_eur                   123595 non-null  float64
 22  highest_market_value_in_eur           123595 non-null  float64
 23  appearance_id                         123609 non-null  object
 24  game_id                               123609 non-null  int64
 25  player_club_id                        123609 non-null  int64
 26  player_current_club_id                123609 non-null  int64
 27  date                                  123609 non-null  object
 28  player_name                           123609 non-null  object
 29  competition_id                        123609 non-null  object
 30  yellow_cards                          123609 non-null  int64
 31  red_cards                             123609 non-null  int64
 32  goals                                 123609 non-null  int64
 33  assists                               123609 non-null  int64
 34  minutes_played                        123609 non-null  int64
dtypes: float64(3), int64(11), object(21)
memory usage: 34.0+ MB

In [5]:
df = df.drop(['market_value_in_eur', 'highest_market_value_in_eur', 'first_name', 'last_name', 'agent_name', 'image_url', 'url', 'current_club_id', 'city_of_birth', 'competition_id', 'foot', 'contract_expiration_date'], axis=1)

In [6]:
df

,player_id,name,last_season,player_code,country_of_birth,country_of_citizenship,date_of_birth,sub_position,position,height_in_cm,...,game_id,player_club_id,player_current_club_id,date,player_name,yellow_cards,red_cards,goals,assists,minutes_played
288,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,...,2225473,931,1091,2012-09-01,Dimitar Berbatov,0,0,0,0,45
289,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,...,2225468,931,1091,2012-09-15,Dimitar Berbatov,0,0,2,0,90
290,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,...,2225480,931,1091,2012-09-22,Dimitar Berbatov,0,0,0,1,90
291,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,...,2225510,931,1091,2012-10-20,Dimitar Berbatov,0,0,0,0,90
292,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,...,2225516,931,1091,2012-10-27,Dimitar Berbatov,0,0,1,0,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555744,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095332,703,703,2024-02-24,Murillo,1,0,0,0,45
1555746,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095347,703,703,2024-03-02,Murillo,0,0,0,0,90
1555747,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095353,703,703,2024-03-10,Murillo,0,0,0,0,90
1555748,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095366,703,703,2024-03-16,Murillo,0,0,0,0,90
1556556,1082850,Deivid Washington,2023,deivid-washington,Brazil,Brazil,2005-06-05,Centre-Forward,Attack,187.0,...,4095170,631,631,2023-10-28,Deivid Washington,0,0,0,0,9

In [7]:
start_date = '2018-08-01'
end_date = '2024-12-31'
mask = (df['date'] >= start_date) & (df['date'] <= end_date)
df = df.loc[mask]

In [8]:
df.isnull().sum()

player_id                                  0
name                                       0
last_season                                0
player_code                                0
country_of_birth                        1463
country_of_citizenship                  1421
date_of_birth                              0
sub_position                               0
position                                   0
height_in_cm                              14
current_club_domestic_competition_id       0
current_club_name                          0
appearance_id                              0
game_id                                    0
player_club_id                             0
player_current_club_id                     0
date                                       0
player_name                                0
yellow_cards                               0
red_cards                                  0
goals                                      0
assists                                    0
minutes_played                             0
dtype: int64

In [9]:
df

,player_id,name,last_season,player_code,country_of_birth,country_of_citizenship,date_of_birth,sub_position,position,height_in_cm,...,game_id,player_club_id,player_current_club_id,date,player_name,yellow_cards,red_cards,goals,assists,minutes_played
6129,2865,Stephan Lichtsteiner,2019,stephan-lichtsteiner,Switzerland,Switzerland,1984-01-16,Right-Back,Defender,182.0,...,3050167,11,167,2018-08-12,Stephan Lichtsteiner,0,0,0,0,55
6132,2865,Stephan Lichtsteiner,2019,stephan-lichtsteiner,Switzerland,Switzerland,1984-01-16,Right-Back,Defender,182.0,...,3050247,11,167,2018-10-22,Stephan Lichtsteiner,0,0,0,0,61
6134,2865,Stephan Lichtsteiner,2019,stephan-lichtsteiner,Switzerland,Switzerland,1984-01-16,Right-Back,Defender,182.0,...,3050259,11,167,2018-10-28,Stephan Lichtsteiner,1,0,0,0,45
6137,2865,Stephan Lichtsteiner,2019,stephan-lichtsteiner,Switzerland,Switzerland,1984-01-16,Right-Back,Defender,182.0,...,3056407,11,167,2018-12-05,Stephan Lichtsteiner,0,0,0,0,54
6138,2865,Stephan Lichtsteiner,2019,stephan-lichtsteiner,Switzerland,Switzerland,1984-01-16,Right-Back,Defender,182.0,...,3050317,11,167,2018-12-08,Stephan Lichtsteiner,1,0,0,0,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555744,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095332,703,703,2024-02-24,Murillo,1,0,0,0,45
1555746,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095347,703,703,2024-03-02,Murillo,0,0,0,0,90
1555747,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095353,703,703,2024-03-10,Murillo,0,0,0,0,90
1555748,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095366,703,703,2024-03-16,Murillo,0,0,0,0,90
1556556,1082850,Deivid Washington,2023,deivid-washington,Brazil,Brazil,2005-06-05,Centre-Forward,Attack,187.0,...,4095170,631,631,2023-10-28,Deivid Washington,0,0,0,0,9

In [10]:
valuations

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1
...,...,...,...,...,...
466897,937958,2024-03-21,75000000,131,ES1
466898,938158,2024-03-21,7500000,131,ES1
466899,941869,2024-03-21,500000,3709,ES1
466900,962110,2024-03-21,25000000,131,ES1
466901,991268,2024-03-21,40000000,1108,ES1

In [11]:
valuations.rename(columns= {"date" : "date_selected"}, inplace=True)

In [12]:
df2 = pd.merge(df, valuations, on='player_id')

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584939 entries, 0 to 1584938
Data columns (total 27 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   player_id                             1584939 non-null  int64
 1   name                                  1584939 non-null  object
 2   last_season                           1584939 non-null  int64
 3   player_code                           1584939 non-null  object
 4   country_of_birth                      1547005 non-null  object
 5   country_of_citizenship                1547177 non-null  object
 6   date_of_birth                         1584939 non-null  object
 7   sub_position                          1584939 non-null  object
 8   position                              1584939 non-null  object
 9   height_in_cm                          1584912 non-null  float64
 10  current_club_domestic_competition_id  1584939 non-null  object
 11  current_club_name                     1584939 non-null  object
 12  appearance_id                         1584939 non-null  object
 13  game_id                               1584939 non-null  int64
 14  player_club_id                        1584939 non-null  int64
 15  player_current_club_id                1584939 non-null  int64
 16  date                                  1584939 non-null  object
 17  player_name                           1584939 non-null  object
 18  yellow_cards                          1584939 non-null  int64
 19  red_cards                             1584939 non-null  int64
 20  goals                                 1584939 non-null  int64
 21  assists                               1584939 non-null  int64
 22  minutes_played                        1584939 non-null  int64
 23  date_selected                         1584939 non-null  object
 24  market_value_in_eur                   1584939 non-null  int64
 25  current_club_id                       1584939 non-null  int64
 26  player_club_domestic_competition_id   1584939 non-null  object
dtypes: float64(1), int64(12), object(14)
memory usage: 326.5+ MB

In [14]:
df2[['name', 'current_club_domestic_competition_id', 'current_club_name', 'current_club_id', 'player_club_domestic_competition_id']]

,name,current_club_domestic_competition_id,current_club_name,current_club_id,player_club_domestic_competition_id
0,Stephan Lichtsteiner,L1,FC Augsburg 1907,167,L1
1,Stephan Lichtsteiner,L1,FC Augsburg 1907,167,L1
2,Stephan Lichtsteiner,L1,FC Augsburg 1907,167,L1
3,Stephan Lichtsteiner,L1,FC Augsburg 1907,167,L1
4,Stephan Lichtsteiner,L1,FC Augsburg 1907,167,L1
...,...,...,...,...,...
1584934,Murillo,GB1,Nottingham Forest Football Club,703,GB1
1584935,Murillo,GB1,Nottingham Forest Football Club,703,GB1
1584936,Deivid Washington,GB1,Chelsea Football Club,631,GB1
1584937,Deivid Washington,GB1,Chelsea Football Club,631,GB1
1584938,Deivid Washington,GB1,Chelsea Football Club,631,GB1

In [15]:
df2['current_club_domestic_competition_id'].unique()
df3 = df2[df2['current_club_domestic_competition_id'] == 'GB1']

In [16]:
#6년동안 선수 몸값 변화
start_date = '2018-01-01'
end_date = '2024-12-31'
mask = (df3['date_selected'] >= start_date) & (df3['date_selected'] <= end_date)
df3 = df3.loc[mask]

# DF3 = Players + Valuations + Appreances(현재 프리미어리그에서 뛰는 선수 한정)

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 743376 entries, 460 to 1584938
Data columns (total 27 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   player_id                             743376 non-null  int64
 1   name                                  743376 non-null  object
 2   last_season                           743376 non-null  int64
 3   player_code                           743376 non-null  object
 4   country_of_birth                      727313 non-null  object
 5   country_of_citizenship                727481 non-null  object
 6   date_of_birth                         743376 non-null  object
 7   sub_position                          743376 non-null  object
 8   position                              743376 non-null  object
 9   height_in_cm                          743349 non-null  float64
 10  current_club_domestic_competition_id  743376 non-null  object
 11  current_club_name                     743376 non-null  object
 12  appearance_id                         743376 non-null  object
 13  game_id                               743376 non-null  int64
 14  player_club_id                        743376 non-null  int64
 15  player_current_club_id                743376 non-null  int64
 16  date                                  743376 non-null  object
 17  player_name                           743376 non-null  object
 18  yellow_cards                          743376 non-null  int64
 19  red_cards                             743376 non-null  int64
 20  goals                                 743376 non-null  int64
 21  assists                               743376 non-null  int64
 22  minutes_played                        743376 non-null  int64
 23  date_selected                         743376 non-null  object
 24  market_value_in_eur                   743376 non-null  int64
 25  current_club_id                       743376 non-null  int64
 26  player_club_domestic_competition_id   743376 non-null  object
dtypes: float64(1), int64(12), object(14)
memory usage: 158.8+ MB

In [18]:
start_date = '2018-08-01'
end_date = '2024-12-31'
mask = (game_events['date'] >= start_date) & (game_events['date'] <= end_date)
game_events = game_events.loc[mask]

In [19]:
game_events['description'].nunique()

3465

In [20]:
game_events[game_events['type'].isin(['Goals', 'Substitutions'])]

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
333104,0aadcffd27bdedcc8c883b1d411de7ae,2018-08-12,3040104,42,Goals,131,18944,", Left-footed shot, 1. Tournament Goal Assist:...",NaN,28003.0
333105,c995f37acac85c6fb4348e74dc50914c,2018-08-12,3040104,85,Substitutions,368,45319,", Tactical",146854.0,NaN
333107,c03df994e6bf1f1cb60aa0de82d1de03,2018-08-12,3040104,9,Goals,368,74230,", Left-footed shot, 1. Tournament Goal Assist:...",NaN,119228.0
333108,d48b66e32555334ce760e611ba6430ff,2018-08-12,3040104,71,Substitutions,368,74230,", Tactical",88490.0,NaN
333111,27568827824de767bfba1c28a738532d,2018-08-12,3040104,60,Substitutions,368,119228,", Tactical",198008.0,NaN
...,...,...,...,...,...,...,...,...,...,...
725282,c6a26553b1e1cdb5ceb73c45dcff22c4,2024-03-16,4300789,83,Goals,543,578391,", Right-footed shot, 1. Tournament Goal",NaN,NaN
725283,a8a6cc2489d696d2a92988c54e574cfd,2024-03-16,4300789,60,Substitutions,543,606718,", Tactical",171679.0,NaN
725284,6c01e56e2dcbbdadb697442b1027c594,2024-03-16,4300789,90,Substitutions,990,618903,", Tactical",403692.0,NaN
725285,57b6fa4f55459352e7a8d15cebf6b09d,2024-03-16,4300789,88,Goals,543,698678,", Left-footed shot, 1. Tournament Goal Assist:...",NaN,578391.0
725286,19fad3d03f88b5702d3d7993fb6730f1,2024-03-16,4300789,60,Substitutions,543,863741,", Tactical",1043634.0,NaN

In [21]:
game_events.info()

<class 'pandas.core.frame.DataFrame'>
Index: 385117 entries, 333104 to 725286
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   game_event_id     385117 non-null  object
 1   date              385117 non-null  object
 2   game_id           385117 non-null  int64
 3   minute            385117 non-null  int64
 4   type              385117 non-null  object
 5   club_id           385117 non-null  int64
 6   player_id         385117 non-null  int64
 7   description       195369 non-null  object
 8   player_in_id      244969 non-null  float64
 9   player_assist_id  21836 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 32.3+ MB

In [22]:
game_events[game_events['description'].isnull()]['type'].unique()

array(['Substitutions'], dtype=object)

In [24]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67421 entries, 0 to 67420
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 67421 non-null  int64
 1   competition_id          67421 non-null  object
 2   season                  67421 non-null  int64
 3   round                   67421 non-null  object
 4   date                    67421 non-null  object
 5   home_club_id            67421 non-null  int64
 6   away_club_id            67421 non-null  int64
 7   home_club_goals         67421 non-null  int64
 8   away_club_goals         67421 non-null  int64
 9   home_club_position      47449 non-null  float64
 10  away_club_position      47449 non-null  float64
 11  home_club_manager_name  66675 non-null  object
 12  away_club_manager_name  66675 non-null  object
 13  stadium                 67207 non-null  object
 14  attendance              57718 non-null  float64
 15  referee                 66823 non-null  object
 16  url                     67421 non-null  object
 17  home_club_formation     60823 non-null  object
 18  away_club_formation     60969 non-null  object
 19  home_club_name          55971 non-null  object
 20  away_club_name          57209 non-null  object
 21  aggregate               67421 non-null  object
 22  competition_type        67421 non-null  object
dtypes: float64(3), int64(6), object(14)
memory usage: 11.8+ MB