In [60]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [61]:
players = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/players.csv')
clubs = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/clubs.csv')
valuations = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/player_valuations.csv')
games = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/games.csv')
lineup = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/game_lineups.csv')
club_games = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/club_games.csv')
game_events = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/game_events.csv')
competitions = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/competitions.csv')
appearances = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/appearances.csv')

In [62]:
df = pd.merge(players, appearances, on='player_id')
df = df[df['competition_id'] == 'GB1']

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123609 entries, 288 to 1556556
Data columns (total 35 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   player_id                             123609 non-null  int64
 1   first_name                            117059 non-null  object
 2   last_name                             123609 non-null  object
 3   name                                  123609 non-null  object
 4   last_season                           123609 non-null  int64
 5   current_club_id                       123609 non-null  int64
 6   player_code                           123609 non-null  object
 7   country_of_birth                      121178 non-null  object
 8   city_of_birth                         123565 non-null  object
 9   country_of_citizenship                121220 non-null  object
 10  date_of_birth                         123609 non-null  object
 11  sub_position                          123609 non-null  object
 12  position                              123609 non-null  object
 13  foot                                  122806 non-null  object
 14  height_in_cm                          123038 non-null  float64
 15  contract_expiration_date              89863 non-null   object
 16  agent_name                            82760 non-null   object
 17  image_url                             123609 non-null  object
 18  url                                   123609 non-null  object
 19  current_club_domestic_competition_id  123609 non-null  object
 20  current_club_name                     123609 non-null  object
 21  market_value_in_eur                   123595 non-null  float64
 22  highest_market_value_in_eur           123595 non-null  float64
 23  appearance_id                         123609 non-null  object
 24  game_id                               123609 non-null  int64
 25  player_club_id                        123609 non-null  int64
 26  player_current_club_id                123609 non-null  int64
 27  date                                  123609 non-null  object
 28  player_name                           123609 non-null  object
 29  competition_id                        123609 non-null  object
 30  yellow_cards                          123609 non-null  int64
 31  red_cards                             123609 non-null  int64
 32  goals                                 123609 non-null  int64
 33  assists                               123609 non-null  int64
 34  minutes_played                        123609 non-null  int64
dtypes: float64(3), int64(11), object(21)
memory usage: 34.0+ MB

In [64]:
df = df.drop(['first_name', 'last_name', 'agent_name', 'image_url', 'url', 'current_club_id', 'city_of_birth', 'competition_id', 'foot', 'contract_expiration_date'], axis=1)

In [65]:
df

,player_id,name,last_season,player_code,country_of_birth,country_of_citizenship,date_of_birth,sub_position,position,height_in_cm,...,game_id,player_club_id,player_current_club_id,date,player_name,yellow_cards,red_cards,goals,assists,minutes_played
288,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,...,2225473,931,1091,2012-09-01,Dimitar Berbatov,0,0,0,0,45
289,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,...,2225468,931,1091,2012-09-15,Dimitar Berbatov,0,0,2,0,90
290,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,...,2225480,931,1091,2012-09-22,Dimitar Berbatov,0,0,0,1,90
291,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,...,2225510,931,1091,2012-10-20,Dimitar Berbatov,0,0,0,0,90
292,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,...,2225516,931,1091,2012-10-27,Dimitar Berbatov,0,0,1,0,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555744,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095332,703,703,2024-02-24,Murillo,1,0,0,0,45
1555746,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095347,703,703,2024-03-02,Murillo,0,0,0,0,90
1555747,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095353,703,703,2024-03-10,Murillo,0,0,0,0,90
1555748,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,...,4095366,703,703,2024-03-16,Murillo,0,0,0,0,90
1556556,1082850,Deivid Washington,2023,deivid-washington,Brazil,Brazil,2005-06-05,Centre-Forward,Attack,187.0,...,4095170,631,631,2023-10-28,Deivid Washington,0,0,0,0,9

In [66]:
start_date = '2018-08-01'
end_date = '2024-12-31'
mask = (df['date'] >= start_date) & (df['date'] <= end_date)
df = df.loc[mask]

In [67]:
df.isnull().sum()

player_id                                  0
name                                       0
last_season                                0
player_code                                0
country_of_birth                        1463
country_of_citizenship                  1421
date_of_birth                              0
sub_position                               0
position                                   0
height_in_cm                              14
current_club_domestic_competition_id       0
current_club_name                          0
market_value_in_eur                        9
highest_market_value_in_eur                9
appearance_id                              0
game_id                                    0
player_club_id                             0
player_current_club_id                     0
date                                       0
player_name                                0
yellow_cards                               0
red_cards                                  0
goals                                      0
assists                                    0
minutes_played                             0
dtype: int64

In [68]:
df

<class 'pandas.core.frame.DataFrame'>
Index: 61403 entries, 6129 to 1556556
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             61403 non-null  int64
 1   name                                  61403 non-null  object
 2   last_season                           61403 non-null  int64
 3   player_code                           61403 non-null  object
 4   country_of_birth                      59940 non-null  object
 5   country_of_citizenship                59982 non-null  object
 6   date_of_birth                         61403 non-null  object
 7   sub_position                          61403 non-null  object
 8   position                              61403 non-null  object
 9   height_in_cm                          61389 non-null  float64
 10  current_club_domestic_competition_id  61403 non-null  object
 11  current_club_name                     61403 non-null  object
 12  market_value_in_eur                   61394 non-null  float64
 13  highest_market_value_in_eur           61394 non-null  float64
 14  appearance_id                         61403 non-null  object
 15  game_id                               61403 non-null  int64
 16  player_club_id                        61403 non-null  int64
 17  player_current_club_id                61403 non-null  int64
 18  date                                  61403 non-null  object
 19  player_name                           61403 non-null  object
 20  yellow_cards                          61403 non-null  int64
 21  red_cards                             61403 non-null  int64
 22  goals                                 61403 non-null  int64
 23  assists                               61403 non-null  int64
 24  minutes_played                        61403 non-null  int64
dtypes: float64(3), int64(10), object(12)
memory usage: 12.2+ MB

In [76]:
valuations

,player_id,date_selected,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1
...,...,...,...,...,...
466897,937958,2024-03-21,75000000,131,ES1
466898,938158,2024-03-21,7500000,131,ES1
466899,941869,2024-03-21,500000,3709,ES1
466900,962110,2024-03-21,25000000,131,ES1
466901,991268,2024-03-21,40000000,1108,ES1

In [77]:
valuations.rename(columns= {"date" : "date_selected"}, inplace=True)

In [78]:
df2 = pd.merge(df, valuations, on='player_id')

In [81]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584939 entries, 0 to 1584938
Data columns (total 29 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   player_id                             1584939 non-null  int64
 1   name                                  1584939 non-null  object
 2   last_season                           1584939 non-null  int64
 3   player_code                           1584939 non-null  object
 4   country_of_birth                      1547005 non-null  object
 5   country_of_citizenship                1547177 non-null  object
 6   date_of_birth                         1584939 non-null  object
 7   sub_position                          1584939 non-null  object
 8   position                              1584939 non-null  object
 9   height_in_cm                          1584912 non-null  float64
 10  current_club_domestic_competition_id  1584939 non-null  object
 11  current_club_name                     1584939 non-null  object
 12  market_value_in_eur_x                 1584939 non-null  float64
 13  highest_market_value_in_eur           1584939 non-null  float64
 14  appearance_id                         1584939 non-null  object
 15  game_id                               1584939 non-null  int64
 16  player_club_id                        1584939 non-null  int64
 17  player_current_club_id                1584939 non-null  int64
 18  date                                  1584939 non-null  object
 19  player_name                           1584939 non-null  object
 20  yellow_cards                          1584939 non-null  int64
 21  red_cards                             1584939 non-null  int64
 22  goals                                 1584939 non-null  int64
 23  assists                               1584939 non-null  int64
 24  minutes_played                        1584939 non-null  int64
 25  date_selected                         1584939 non-null  object
 26  market_value_in_eur_y                 1584939 non-null  int64
 27  current_club_id                       1584939 non-null  int64
 28  player_club_domestic_competition_id   1584939 non-null  object
dtypes: float64(3), int64(12), object(14)
memory usage: 350.7+ MB