In [49]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [50]:
players = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/players.csv')
clubs = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/clubs.csv')
valuations = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/player_valuations.csv')
games = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/games.csv')
lineup = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/game_lineups.csv')
club_games = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/club_games.csv')
game_events = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/game_events.csv')
competitions = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/competitions.csv')
appearances = pd.read_csv('C:/Users/parks/OneDrive/바탕 화면/DATASET/Football/appearances.csv')

In [51]:
df = pd.merge(players, appearances, on='player_id')
df = df[df['competition_id'] == 'GB1']

In [101]:
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556969 entries, 0 to 1556968
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1556969 non-null  object
 1   game_id                 1556969 non-null  int64
 2   player_id               1556969 non-null  int64
 3   player_club_id          1556969 non-null  int64
 4   player_current_club_id  1556969 non-null  int64
 5   date                    1556969 non-null  object
 6   player_name             1556963 non-null  object
 7   competition_id          1556969 non-null  object
 8   yellow_cards            1556969 non-null  int64
 9   red_cards               1556969 non-null  int64
 10  goals                   1556969 non-null  int64
 11  assists                 1556969 non-null  int64
 12  minutes_played          1556969 non-null  int64
dtypes: int64(9), object(4)
memory usage: 154.4+ MB

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123609 entries, 288 to 1556556
Data columns (total 35 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   player_id                             123609 non-null  int64
 1   first_name                            117059 non-null  object
 2   last_name                             123609 non-null  object
 3   name                                  123609 non-null  object
 4   last_season                           123609 non-null  int64
 5   current_club_id                       123609 non-null  int64
 6   player_code                           123609 non-null  object
 7   country_of_birth                      121178 non-null  object
 8   city_of_birth                         123565 non-null  object
 9   country_of_citizenship                121220 non-null  object
 10  date_of_birth                         123609 non-null  object
 11  sub_position                          123609 non-null  object
 12  position                              123609 non-null  object
 13  foot                                  122806 non-null  object
 14  height_in_cm                          123038 non-null  float64
 15  contract_expiration_date              89863 non-null   object
 16  agent_name                            82760 non-null   object
 17  image_url                             123609 non-null  object
 18  url                                   123609 non-null  object
 19  current_club_domestic_competition_id  123609 non-null  object
 20  current_club_name                     123609 non-null  object
 21  market_value_in_eur                   123595 non-null  float64
 22  highest_market_value_in_eur           123595 non-null  float64
 23  appearance_id                         123609 non-null  object
 24  game_id                               123609 non-null  int64
 25  player_club_id                        123609 non-null  int64
 26  player_current_club_id                123609 non-null  int64
 27  date                                  123609 non-null  object
 28  player_name                           123609 non-null  object
 29  competition_id                        123609 non-null  object
 30  yellow_cards                          123609 non-null  int64
 31  red_cards                             123609 non-null  int64
 32  goals                                 123609 non-null  int64
 33  assists                               123609 non-null  int64
 34  minutes_played                        123609 non-null  int64
dtypes: float64(3), int64(11), object(21)
memory usage: 34.0+ MB

In [53]:
df = df.drop(['market_value_in_eur', 'highest_market_value_in_eur', 'first_name', 'last_name', 'agent_name', 'image_url', 'url', 'current_club_id', 'city_of_birth', 'competition_id', 'foot', 'contract_expiration_date'], axis=1)

In [54]:
df

,player_id,name,last_season,player_code,country_of_birth,country_of_citizenship,date_of_birth,sub_position,position,height_in_cm,current_club_domestic_competition_id,current_club_name,appearance_id,game_id,player_club_id,player_current_club_id,date,player_name,yellow_cards,red_cards,goals,assists,minutes_played
288,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,2225473_65,2225473,931,1091,2012-09-01,Dimitar Berbatov,0,0,0,0,45
289,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,2225468_65,2225468,931,1091,2012-09-15,Dimitar Berbatov,0,0,2,0,90
290,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,2225480_65,2225480,931,1091,2012-09-22,Dimitar Berbatov,0,0,0,1,90
291,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,2225510_65,2225510,931,1091,2012-10-20,Dimitar Berbatov,0,0,0,0,90
292,65,Dimitar Berbatov,2015,dimitar-berbatov,Bulgaria,Bulgaria,1981-01-30,Centre-Forward,Attack,NaN,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,2225516_65,2225516,931,1091,2012-10-27,Dimitar Berbatov,0,0,1,0,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555744,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,GB1,Nottingham Forest Football Club,4095332_1005649,4095332,703,703,2024-02-24,Murillo,1,0,0,0,45
1555746,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,GB1,Nottingham Forest Football Club,4095347_1005649,4095347,703,703,2024-03-02,Murillo,0,0,0,0,90
1555747,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,GB1,Nottingham Forest Football Club,4095353_1005649,4095353,703,703,2024-03-10,Murillo,0,0,0,0,90
1555748,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,GB1,Nottingham Forest Football Club,4095366_1005649,4095366,703,703,2024-03-16,Murillo,0,0,0,0,90
1556556,1082850,Deivid Washington,2023,deivid-washington,Brazil,Brazil,2005-06-05,Centre-Forward,Attack,187.0,GB1,Chelsea Football Club,4095170_1082850,4095170,631,631,2023-10-28,Deivid Washington,0,0,0,0,9

In [55]:
start_date = '2018-08-01'
end_date = '2024-12-31'
mask = (df['date'] >= start_date) & (df['date'] <= end_date)
df = df.loc[mask]

In [56]:
df.isnull().sum()

player_id                                  0
name                                       0
last_season                                0
player_code                                0
country_of_birth                        1463
country_of_citizenship                  1421
date_of_birth                              0
sub_position                               0
position                                   0
height_in_cm                              14
current_club_domestic_competition_id       0
current_club_name                          0
appearance_id                              0
game_id                                    0
player_club_id                             0
player_current_club_id                     0
date                                       0
player_name                                0
yellow_cards                               0
red_cards                                  0
goals                                      0
assists                                    0
minutes_played                             0
dtype: int64

In [57]:
df

,player_id,name,last_season,player_code,country_of_birth,country_of_citizenship,date_of_birth,sub_position,position,height_in_cm,current_club_domestic_competition_id,current_club_name,appearance_id,game_id,player_club_id,player_current_club_id,date,player_name,yellow_cards,red_cards,goals,assists,minutes_played
6129,2865,Stephan Lichtsteiner,2019,stephan-lichtsteiner,Switzerland,Switzerland,1984-01-16,Right-Back,Defender,182.0,L1,FC Augsburg 1907,3050167_2865,3050167,11,167,2018-08-12,Stephan Lichtsteiner,0,0,0,0,55
6132,2865,Stephan Lichtsteiner,2019,stephan-lichtsteiner,Switzerland,Switzerland,1984-01-16,Right-Back,Defender,182.0,L1,FC Augsburg 1907,3050247_2865,3050247,11,167,2018-10-22,Stephan Lichtsteiner,0,0,0,0,61
6134,2865,Stephan Lichtsteiner,2019,stephan-lichtsteiner,Switzerland,Switzerland,1984-01-16,Right-Back,Defender,182.0,L1,FC Augsburg 1907,3050259_2865,3050259,11,167,2018-10-28,Stephan Lichtsteiner,1,0,0,0,45
6137,2865,Stephan Lichtsteiner,2019,stephan-lichtsteiner,Switzerland,Switzerland,1984-01-16,Right-Back,Defender,182.0,L1,FC Augsburg 1907,3056407_2865,3056407,11,167,2018-12-05,Stephan Lichtsteiner,0,0,0,0,54
6138,2865,Stephan Lichtsteiner,2019,stephan-lichtsteiner,Switzerland,Switzerland,1984-01-16,Right-Back,Defender,182.0,L1,FC Augsburg 1907,3050317_2865,3050317,11,167,2018-12-08,Stephan Lichtsteiner,1,0,0,0,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555744,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,GB1,Nottingham Forest Football Club,4095332_1005649,4095332,703,703,2024-02-24,Murillo,1,0,0,0,45
1555746,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,GB1,Nottingham Forest Football Club,4095347_1005649,4095347,703,703,2024-03-02,Murillo,0,0,0,0,90
1555747,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,GB1,Nottingham Forest Football Club,4095353_1005649,4095353,703,703,2024-03-10,Murillo,0,0,0,0,90
1555748,1005649,Murillo,2023,murillo,Brazil,Brazil,2002-07-04,Centre-Back,Defender,184.0,GB1,Nottingham Forest Football Club,4095366_1005649,4095366,703,703,2024-03-16,Murillo,0,0,0,0,90
1556556,1082850,Deivid Washington,2023,deivid-washington,Brazil,Brazil,2005-06-05,Centre-Forward,Attack,187.0,GB1,Chelsea Football Club,4095170_1082850,4095170,631,631,2023-10-28,Deivid Washington,0,0,0,0,9

In [58]:
valuations

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1
...,...,...,...,...,...
466897,937958,2024-03-21,75000000,131,ES1
466898,938158,2024-03-21,7500000,131,ES1
466899,941869,2024-03-21,500000,3709,ES1
466900,962110,2024-03-21,25000000,131,ES1
466901,991268,2024-03-21,40000000,1108,ES1

In [59]:
valuations.rename(columns= {"date" : "date_selected"}, inplace=True)

In [60]:
df2 = pd.merge(df, valuations, on='player_id')

In [61]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584939 entries, 0 to 1584938
Data columns (total 27 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   player_id                             1584939 non-null  int64
 1   name                                  1584939 non-null  object
 2   last_season                           1584939 non-null  int64
 3   player_code                           1584939 non-null  object
 4   country_of_birth                      1547005 non-null  object
 5   country_of_citizenship                1547177 non-null  object
 6   date_of_birth                         1584939 non-null  object
 7   sub_position                          1584939 non-null  object
 8   position                              1584939 non-null  object
 9   height_in_cm                          1584912 non-null  float64
 10  current_club_domestic_competition_id  1584939 non-null  object
 11  current_club_name                     1584939 non-null  object
 12  appearance_id                         1584939 non-null  object
 13  game_id                               1584939 non-null  int64
 14  player_club_id                        1584939 non-null  int64
 15  player_current_club_id                1584939 non-null  int64
 16  date                                  1584939 non-null  object
 17  player_name                           1584939 non-null  object
 18  yellow_cards                          1584939 non-null  int64
 19  red_cards                             1584939 non-null  int64
 20  goals                                 1584939 non-null  int64
 21  assists                               1584939 non-null  int64
 22  minutes_played                        1584939 non-null  int64
 23  date_selected                         1584939 non-null  object
 24  market_value_in_eur                   1584939 non-null  int64
 25  current_club_id                       1584939 non-null  int64
 26  player_club_domestic_competition_id   1584939 non-null  object
dtypes: float64(1), int64(12), object(14)
memory usage: 326.5+ MB

In [62]:
df2[['name', 'current_club_domestic_competition_id', 'current_club_name', 'current_club_id', 'player_club_domestic_competition_id']]

,name,current_club_domestic_competition_id,current_club_name,current_club_id,player_club_domestic_competition_id
0,Stephan Lichtsteiner,L1,FC Augsburg 1907,167,L1
1,Stephan Lichtsteiner,L1,FC Augsburg 1907,167,L1
2,Stephan Lichtsteiner,L1,FC Augsburg 1907,167,L1
3,Stephan Lichtsteiner,L1,FC Augsburg 1907,167,L1
4,Stephan Lichtsteiner,L1,FC Augsburg 1907,167,L1
...,...,...,...,...,...
1584934,Murillo,GB1,Nottingham Forest Football Club,703,GB1
1584935,Murillo,GB1,Nottingham Forest Football Club,703,GB1
1584936,Deivid Washington,GB1,Chelsea Football Club,631,GB1
1584937,Deivid Washington,GB1,Chelsea Football Club,631,GB1
1584938,Deivid Washington,GB1,Chelsea Football Club,631,GB1

In [63]:
df2['current_club_domestic_competition_id'].unique()
df3 = df2[df2['current_club_domestic_competition_id'] == 'GB1']

In [64]:
#6년동안 선수 몸값 변화
start_date = '2018-08-01'
end_date = '2024-12-31'
mask = (df3['date_selected'] >= start_date) & (df3['date_selected'] <= end_date)
df3 = df3.loc[mask]

# DF3 = Players + Valuations + Appreances(현재 프리미어리그에서 뛰는 선수 한정)

In [65]:
df3.isnull().sum()

player_id                                   0
name                                        0
last_season                                 0
player_code                                 0
country_of_birth                        14100
country_of_citizenship                  13932
date_of_birth                               0
sub_position                                0
position                                    0
height_in_cm                               27
current_club_domestic_competition_id        0
current_club_name                           0
appearance_id                               0
game_id                                     0
player_club_id                              0
player_current_club_id                      0
date                                        0
player_name                                 0
yellow_cards                                0
red_cards                                   0
goals                                       0
assists                                     0
minutes_played                              0
date_selected                               0
market_value_in_eur                         0
current_club_id                             0
player_club_domestic_competition_id         0
dtype: int64

In [66]:
start_date = '2018-08-01'
end_date = '2024-12-31'
mask = (game_events['date'] >= start_date) & (game_events['date'] <= end_date)
game_events = game_events.loc[mask]

In [67]:
game_events['type'].unique()

array(['Goals', 'Substitutions', 'Cards', 'Shootout'], dtype=object)

In [68]:
game_events[game_events['type'].isin(['Shootout', 'Cards'])]

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
333106,9bbeb2b4ebf0ed14b9cc34cbce2622aa,2018-08-12,3040104,16,Cards,131,65230,"1. Yellow card , Foul",NaN,NaN
333109,953427e03e56f17939be0ffd21641a23,2018-08-12,3040104,90,Cards,131,74857,"1. Yellow card , Foul",NaN,NaN
333110,f4fb294cbf3ee6733cfe217d2dd456c7,2018-08-12,3040104,90,Cards,368,88490,"1. Yellow card , Foul",NaN,NaN
333113,b6a4dda7febeda6b604b5a8e4fa11074,2018-08-12,3040104,90,Cards,131,182904,"1. Yellow card , Time wasting",NaN,NaN
333114,0403a344fd9013d36479417a89023bda,2018-08-12,3040104,69,Cards,368,202984,"1. Yellow card , Foul",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
725266,b43a2166be61b9a9dbf712f643db5ddb,2024-03-17,4300788,116,Cards,985,536835,"Yellow card , Dissent",NaN,NaN
725267,cf3292644721276321bd38f5d813333a,2024-03-17,4300788,120,Cards,985,536835,"Second yellow , Taking off shirt",NaN,NaN
725273,6cea5b4d932349701169d886b5250152,2024-03-16,4300789,81,Cards,543,74230,"2. Yellow card , Dissent",NaN,NaN
725274,a7615ce6ebdb2333235d39af6ce60e52,2024-03-16,4300789,90,Cards,990,258216,"2. Yellow card , Unsporting behaviour",NaN,NaN
725281,4e0a2d009c35876157e2a0b1417ebc4e,2024-03-16,4300789,7,Cards,543,578391,"1. Yellow card , Foul",NaN,NaN

In [69]:
game_events[game_events['player_assist_id'].notnull()]

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
333104,0aadcffd27bdedcc8c883b1d411de7ae,2018-08-12,3040104,42,Goals,131,18944,", Left-footed shot, 1. Tournament Goal Assist:...",NaN,28003.0
333107,c03df994e6bf1f1cb60aa0de82d1de03,2018-08-12,3040104,9,Goals,368,74230,", Left-footed shot, 1. Tournament Goal Assist:...",NaN,119228.0
333115,7c16b380c0c15a76de1f0d1fb255131e,2018-08-12,3040104,78,Goals,131,288230,", Right-footed shot, 1. Tournament Goal Assist...",NaN,28003.0
333148,598b5692b9bd49f729e21c9816a4dbfc,2018-08-15,3045430,27,Goals,418,18922,", Header, 1. Tournament Goal Assist: , Cross, ...",NaN,39381.0
333150,e762c3044ed5ec1d14848c35408160fa,2018-08-15,3045430,63,Goals,418,25557,", Penalty, 1. Tournament Goal Assist: Handball by",NaN,16635.0
...,...,...,...,...,...,...,...,...,...,...
725269,4e55736e798878407932081f63933ba4,2024-03-17,4300788,105,Goals,31,565822,", 1. Tournament Goal Assist: , 3. Tournament A...",NaN,624258.0
725276,5d94f94e88d5a6210e35d9c836ca9d00,2024-03-16,4300789,90,Goals,990,315291,", Right-footed shot, 2. Tournament Goal Assist...",NaN,511550.0
725279,df299fa444aaca27236c86ab5e686a60,2024-03-16,4300789,53,Goals,990,511550,", 4. Tournament Goal Assist: , 1. Tournament A...",NaN,412823.0
725280,273544329859c0321232cba349deabfd,2024-03-16,4300789,90,Goals,990,511550,", Header, 5. Tournament Goal Assist: , 1. Tour...",NaN,788283.0
725285,57b6fa4f55459352e7a8d15cebf6b09d,2024-03-16,4300789,88,Goals,543,698678,", Left-footed shot, 1. Tournament Goal Assist:...",NaN,578391.0

In [70]:
game_events.info()

<class 'pandas.core.frame.DataFrame'>
Index: 385117 entries, 333104 to 725286
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   game_event_id     385117 non-null  object
 1   date              385117 non-null  object
 2   game_id           385117 non-null  int64
 3   minute            385117 non-null  int64
 4   type              385117 non-null  object
 5   club_id           385117 non-null  int64
 6   player_id         385117 non-null  int64
 7   description       195369 non-null  object
 8   player_in_id      244969 non-null  float64
 9   player_assist_id  21836 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 32.3+ MB

In [71]:
game_events[game_events['description'].isnull()]['type'].unique()

array(['Substitutions'], dtype=object)

In [72]:
games = games.drop(['url','round'], axis=1)

In [73]:
mask = (games['date'] >= start_date) & (games['date'] <= end_date)
games = games.loc[mask]

In [74]:
games

,game_id,competition_id,season,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
1860,3047515,FR1,2018,2018-09-21,162,1160,1,1,16.0,10.0,Leonardo Jardim,Bernard Blaquart,Stade Louis-II,6837.0,Amaury Delerue,4-2-3-1,4-4-2,Association sportive de Monaco Football Club,Nîmes Olympique,1:1,domestic_league
1861,3047523,FR1,2018,2018-09-26,1162,969,2,2,16.0,5.0,Fabien Mercadal,Michel Der Zakarian,Stade Michel-d'Ornano,14402.0,Antony Gautier,4-2-3-1,5-3-2,SM Caen,Montpellier Hérault Sport Club,2:2,domestic_league
1862,3047527,FR1,2018,2018-09-25,995,417,1,2,19.0,11.0,Miguel Cardoso,Patrick Vieira,Stade de la Beaujoire,16604.0,Mikael Lesage,4-2-3-1,5-3-2,Football Club de Nantes,Olympique Gymnaste Club Nice Côte d'Azur,1:2,domestic_league
1863,3047572,FR1,2018,2018-11-03,2969,1160,0,4,17.0,13.0,Olivier Dall'Oglio,Bernard Blaquart,Stade Gaston-Gérard,12113.0,Frank Schneider,4-3-3 Attacking,4-4-2,Dijon FCO,Nîmes Olympique,0:4,domestic_league
1864,3047575,FR1,2018,2018-11-04,995,855,5,0,10.0,20.0,Vahid Halilhodzic,Antoine Kombouaré,Stade de la Beaujoire,25753.0,Jérôme Brisard,4-3-3 Attacking,5-4-1,Football Club de Nantes,EA Guingamp,5:0,domestic_league
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67414,3705086,SFA,2021,2022-01-22,987,3026,2,1,NaN,NaN,Graham Alexander,Dougie Imrie,Fir Park,4735.0,Nick Walsh,4-3-3 Attacking,3-5-2 flat,Motherwell Football Club,NaN,2:1,domestic_cup
67417,3092951,CLQ,2018,2018-08-29,383,713,3,0,NaN,NaN,Mark van Bommel,Aleksey Baga,Philips Stadion,34200.0,Anthony Taylor,4-3-3 Defending,4-5-1,Eindhovense Voetbalvereniging Philips Sport Ve...,NaN,3:0,international_cup
67418,4164101,CGB,2023,2023-08-29,512,1194,6,1,NaN,NaN,Alex Neil,Matt Taylor,bet365 Stadium,9410.0,Michael Salisbury,Starting Line-up: 4-2-3-1,Starting Line-up: 4-2-3-1,Stoke City,NaN,6:1,other
67419,3143618,FAC,2018,2019-01-15,512,3054,2,3,NaN,NaN,Nathan Jones,Sam Ricketts,bet365 Stadium,10261.0,Geoff Eltringham,4-4-2 Diamond,4-2-3-1,Stoke City,NaN,2:3,domestic_cup
67420,4233201,SFA,2023,2024-01-20,987,3020,3,1,NaN,NaN,Stuart Kettlewell,Andy Graham,Fir Park,4119.0,John Beaton,NaN,Starting Line-up: 4-2-3-1,Motherwell Football Club,NaN,3:1,domestic_cup

# 2018~2024 프리미어 경기만 추출

In [75]:
games = games[games['competition_id'] == 'GB1']

In [76]:
df_games = pd.merge(games, game_events, on='game_id')

In [77]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 22552 non-null  int64
 1   competition_id          22552 non-null  object
 2   season                  22552 non-null  int64
 3   date_x                  22552 non-null  object
 4   home_club_id            22552 non-null  int64
 5   away_club_id            22552 non-null  int64
 6   home_club_goals         22552 non-null  int64
 7   away_club_goals         22552 non-null  int64
 8   home_club_position      22552 non-null  float64
 9   away_club_position      22552 non-null  float64
 10  home_club_manager_name  22552 non-null  object
 11  away_club_manager_name  22552 non-null  object
 12  stadium                 22552 non-null  object
 13  attendance              18677 non-null  float64
 14  referee                 22552 non-null  object
 15  home_club_formation     22552 non-null  object
 16  away_club_formation     22552 non-null  object
 17  home_club_name          22552 non-null  object
 18  away_club_name          22552 non-null  object
 19  aggregate               22552 non-null  object
 20  competition_type        22552 non-null  object
 21  game_event_id           22552 non-null  object
 22  date_y                  22552 non-null  object
 23  minute                  22552 non-null  int64
 24  type                    22552 non-null  object
 25  club_id                 22552 non-null  int64
 26  player_id               22552 non-null  int64
 27  description             11706 non-null  object
 28  player_in_id            13745 non-null  float64
 29  player_assist_id        1540 non-null   float64
dtypes: float64(5), int64(9), object(16)
memory usage: 5.2+ MB

In [78]:
df_games[['home_club_id', 'away_club_id', 'home_club_name', 'away_club_name', 'type', 'club_id']]

,home_club_id,away_club_id,home_club_name,away_club_name,type,club_id
0,1110,631,Huddersfield Town,Chelsea Football Club,Cards,631
1,1110,631,Huddersfield Town,Chelsea Football Club,Substitutions,631
2,1110,631,Huddersfield Town,Chelsea Football Club,Substitutions,1110
3,1110,631,Huddersfield Town,Chelsea Football Club,Cards,1110
4,1110,631,Huddersfield Town,Chelsea Football Club,Goals,631
...,...,...,...,...,...,...
22547,148,1132,Tottenham Hotspur Football Club,Burnley Football Club,Substitutions,1132
22548,148,1132,Tottenham Hotspur Football Club,Burnley Football Club,Substitutions,148
22549,148,1132,Tottenham Hotspur Football Club,Burnley Football Club,Substitutions,1132
22550,148,1132,Tottenham Hotspur Football Club,Burnley Football Club,Goals,148
22551,148,1132,Tottenham Hotspur Football Club,Burnley Football Club,Substitutions,148

In [79]:
df_games['competition_type'].unique()

array(['domestic_league'], dtype=object)

In [80]:
df_games = df_games.drop(['date_y', 'competition_type'], axis=1)
df_games

,game_id,competition_id,season,date_x,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,game_event_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,3050170,GB1,2018,2018-08-11,1110,631,0,3,19.0,2.0,David Wagner,Maurizio Sarri,John Smith's Stadium,24121.0,Chris Kavanagh,3-5-2 flat,4-3-3 Attacking,Huddersfield Town,Chelsea Football Club,0:3,a823f75d2320b8082051f503003c6740,69,Cards,631,46741,"1. Yellow card , Foul",NaN,NaN
1,3050170,GB1,2018,2018-08-11,1110,631,0,3,19.0,2.0,David Wagner,Maurizio Sarri,John Smith's Stadium,24121.0,Chris Kavanagh,3-5-2 flat,4-3-3 Attacking,Huddersfield Town,Chelsea Football Club,0:3,52a7e999cc618459733d295caece8f01,76,Substitutions,631,52769,NaN,50202.0,NaN
2,3050170,GB1,2018,2018-08-11,1110,631,0,3,19.0,2.0,David Wagner,Maurizio Sarri,John Smith's Stadium,24121.0,Chris Kavanagh,3-5-2 flat,4-3-3 Attacking,Huddersfield Town,Chelsea Football Club,0:3,beb236d33312c23d5cb69d234820a721,71,Substitutions,1110,55125,", Tactical",453594.0,NaN
3,3050170,GB1,2018,2018-08-11,1110,631,0,3,19.0,2.0,David Wagner,Maurizio Sarri,John Smith's Stadium,24121.0,Chris Kavanagh,3-5-2 flat,4-3-3 Attacking,Huddersfield Town,Chelsea Football Club,0:3,7bf6730e41d036b721e7bf4853e3fd72,44,Cards,1110,57842,"1. Yellow card , Foul",NaN,NaN
4,3050170,GB1,2018,2018-08-11,1110,631,0,3,19.0,2.0,David Wagner,Maurizio Sarri,John Smith's Stadium,24121.0,Chris Kavanagh,3-5-2 flat,4-3-3 Attacking,Huddersfield Town,Chelsea Football Club,0:3,d90631fc5b915e37eda0d96cfe12481d,80,Goals,631,65278,", Right-footed shot, 1. Goal of the Season Ass...",NaN,50202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,3592240,GB1,2021,2022-05-15,148,1132,1,0,4.0,17.0,Antonio Conte,Mike Jackson,Tottenham Hotspur Stadium,61729.0,Kevin Friend,5-4-1,5-3-2,Tottenham Hotspur Football Club,Burnley Football Club,1:0,a795c392544d183991357d24e3e1e53f,78,Substitutions,1132,63200,NaN,228645.0,NaN
22548,3592240,GB1,2021,2022-05-15,148,1132,1,0,4.0,17.0,Antonio Conte,Mike Jackson,Tottenham Hotspur Stadium,61729.0,Kevin Friend,5-4-1,5-3-2,Tottenham Hotspur Football Club,Burnley Football Club,1:0,0afefe4cf7577d47d2938868a2054545,79,Substitutions,148,77100,NaN,431755.0,NaN
22549,3592240,GB1,2021,2022-05-15,148,1132,1,0,4.0,17.0,Antonio Conte,Mike Jackson,Tottenham Hotspur Stadium,61729.0,Kevin Friend,5-4-1,5-3-2,Tottenham Hotspur Football Club,Burnley Football Club,1:0,6d7f377e2c4636bf8a51a2fe789a60b3,78,Substitutions,1132,102258,NaN,14221.0,NaN
22550,3592240,GB1,2021,2022-05-15,148,1132,1,0,4.0,17.0,Antonio Conte,Mike Jackson,Tottenham Hotspur Stadium,61729.0,Kevin Friend,5-4-1,5-3-2,Tottenham Hotspur Football Club,Burnley Football Club,1:0,343c65615972cd1458efb835ce65528d,45,Goals,148,132098,", Penalty, 16. Goal of the Season",NaN,NaN
22551,3592240,GB1,2021,2022-05-15,148,1132,1,0,4.0,17.0,Antonio Conte,Mike Jackson,Tottenham Hotspur Stadium,61729.0,Kevin Friend,5-4-1,5-3-2,Tottenham Hotspur Football Club,Burnley Football Club,1:0,f7e0039b3c6657bd79852bc1e8296cad,90,Substitutions,148,476344,NaN,297212.0,NaN

In [81]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 22552 non-null  int64
 1   competition_id          22552 non-null  object
 2   season                  22552 non-null  int64
 3   date_x                  22552 non-null  object
 4   home_club_id            22552 non-null  int64
 5   away_club_id            22552 non-null  int64
 6   home_club_goals         22552 non-null  int64
 7   away_club_goals         22552 non-null  int64
 8   home_club_position      22552 non-null  float64
 9   away_club_position      22552 non-null  float64
 10  home_club_manager_name  22552 non-null  object
 11  away_club_manager_name  22552 non-null  object
 12  stadium                 22552 non-null  object
 13  attendance              18677 non-null  float64
 14  referee                 22552 non-null  object
 15  home_club_formation     22552 non-null  object
 16  away_club_formation     22552 non-null  object
 17  home_club_name          22552 non-null  object
 18  away_club_name          22552 non-null  object
 19  aggregate               22552 non-null  object
 20  game_event_id           22552 non-null  object
 21  minute                  22552 non-null  int64
 22  type                    22552 non-null  object
 23  club_id                 22552 non-null  int64
 24  player_id               22552 non-null  int64
 25  description             11706 non-null  object
 26  player_in_id            13745 non-null  float64
 27  player_assist_id        1540 non-null   float64
dtypes: float64(5), int64(9), object(14)
memory usage: 4.8+ MB

df4 = df3(Players + Valuations + Appreances) 와 df_games(games + game_events)를 game_id로 합침

In [82]:
df4 = pd.merge(df3, df_games, on='game_id')

In [83]:
pd.set_option('display.max_columns', None)

In [84]:
df4

,player_id_x,name,last_season,player_code,country_of_birth,country_of_citizenship,date_of_birth,sub_position,position,height_in_cm,current_club_domestic_competition_id,current_club_name,appearance_id,game_id,player_club_id,player_current_club_id,date,player_name,yellow_cards,red_cards,goals,assists,minutes_played,date_selected,market_value_in_eur,current_club_id,player_club_domestic_competition_id,competition_id,season,date_x,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,game_event_id,minute,type,club_id,player_id_y,description,player_in_id,player_assist_id
0,3333,James Milner,2023,james-milner,England,England,1986-01-04,Central Midfield,Midfield,175.0,GB1,Brighton and Hove Albion Football Club,3050171_3333,3050171,31,1237,2018-08-12,James Milner,0,0,0,1,90,2018-12-19,15000000,1237,GB1,GB1,2018,2018-08-12,31,379,4,0,1.0,20.0,Jürgen Klopp,Manuel Pellegrini,Anfield,53235.0,Anthony Taylor,4-3-3 Attacking,4-2-3-1,Liverpool Football Club,West Ham United Football Club,4:0,2987f0210a3616012b30ba010d5bacca,67,Substitutions,379,41384,", Tactical",69015.0,NaN
1,3333,James Milner,2023,james-milner,England,England,1986-01-04,Central Midfield,Midfield,175.0,GB1,Brighton and Hove Albion Football Club,3050171_3333,3050171,31,1237,2018-08-12,James Milner,0,0,0,1,90,2018-12-19,15000000,1237,GB1,GB1,2018,2018-08-12,31,379,4,0,1.0,20.0,Jürgen Klopp,Manuel Pellegrini,Anfield,53235.0,Anthony Taylor,4-3-3 Attacking,4-2-3-1,Liverpool Football Club,West Ham United Football Club,4:0,c2ef699088bd5853cbab4324c4aad28c,88,Goals,31,47082,", Left-footed shot, 1. Goal of the Season",NaN,NaN
2,3333,James Milner,2023,james-milner,England,England,1986-01-04,Central Midfield,Midfield,175.0,GB1,Brighton and Hove Albion Football Club,3050171_3333,3050171,31,1237,2018-08-12,James Milner,0,0,0,1,90,2018-12-19,15000000,1237,GB1,GB1,2018,2018-08-12,31,379,4,0,1.0,20.0,Jürgen Klopp,Manuel Pellegrini,Anfield,53235.0,Anthony Taylor,4-3-3 Attacking,4-2-3-1,Liverpool Football Club,West Ham United Football Club,4:0,185d5694ad3c946eaa33a1feb441bcdd,52,Cards,379,104124,"1. Yellow card , Foul",NaN,NaN
3,3333,James Milner,2023,james-milner,England,England,1986-01-04,Central Midfield,Midfield,175.0,GB1,Brighton and Hove Albion Football Club,3050171_3333,3050171,31,1237,2018-08-12,James Milner,0,0,0,1,90,2018-12-19,15000000,1237,GB1,GB1,2018,2018-08-12,31,379,4,0,1.0,20.0,Jürgen Klopp,Manuel Pellegrini,Anfield,53235.0,Anthony Taylor,4-3-3 Attacking,4-2-3-1,Liverpool Football Club,West Ham United Football Club,4:0,31598048ca8bab465657e8ee6738cca2,69,Substitutions,31,131789,", Tactical",61651.0,NaN
4,3333,James Milner,2023,james-milner,England,England,1986-01-04,Central Midfield,Midfield,175.0,GB1,Brighton and Hove Albion Football Club,3050171_3333,3050171,31,1237,2018-08-12,James Milner,0,0,0,1,90,2018-12-19,15000000,1237,GB1,GB1,2018,2018-08-12,31,379,4,0,1.0,20.0,Jürgen Klopp,Manuel Pellegrini,Anfield,53235.0,Anthony Taylor,4-3-3 Attacking,4-2-3-1,Liverpool Football Club,West Ham United Football Club,4:0,38a05fb79df19e255626bc86a7f2df13,19,Goals,31,148455,", Right-footed shot, 1. Goal of the Season Ass...",NaN,234803.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7128875,842341,Maxime Estève,2023,maxime-esteve,France,France,2002-05-26,Centre-Back,Defender,193.0,GB1,Burnley Football Club,4095313_842341,4095313,1132,1132,2024-02-10,Maxime Estève,0,0,0,0,80,2023-12-18,7000000,1132,GB1,GB1,2023,2024-02-10,31,1132,3,1,2.0,19.0,Jürgen Klopp,Vincent Kompany,Anfield,59896.0,Tim Robinson,Starting Line-up: 4-3-3 Attacking,Starting Line-up: 4-4-2 double 6,Liverpool Football Club,Burnley Football Club,3:1,e05a457a07cd9dc448ea7bbeb5cfed6c,79,Goals,31,546543,", Header, 8. Goal of the Season Assist: , Pass...",NaN,565822.0
7128876,842341,Maxime Estève,2023,maxime-esteve,France,France,2002-05-26,Centre-Back,Defender,193.0,GB1,Burnley Football Club,4095313_842341,4095313,1132,1132,2024-02-10,Maxime Estève,0,0,0,0,80,2023-12-18,7000000,1132,GB1,GB1,2023,2024-02-10,31,1132,3,1,2.0,19.0,Jürgen Klopp,Vincent Kompany,Anfield,59896.0,Tim Robinson,Starting Line-up: 4-3-3 Attacking,Starting Line-up: 4-4-2 double 6,Liverpool Football Club,Burnley Football Club,3:1,87a235273fa330275be528d602022339,86,Substitutions,1132,548729,", Tactical",293281.0,NaN
7128877,842341,Maxime Estève,2023,maxime-esteve,France,France,2002-05-26,Centre-Back,Defender,193.0,GB1,Burnley Football Club,4095313_842341,4095313,1132,1132,2024-02-10,Maxime Estève,0,0,0,0,80,2023-12-18,7000000,1132,GB1,GB1,2023,2024-02-10,31,1132,3,1,2.0,19.0,Jürgen Klopp,Vincent Kompany,Anfield,59896.0,Tim Robinson,Starting Line-up: 4-3-3 Attacking,Starting Line-up: 4-4-2 double 6,Liverpool Football Club,Burnley Football Club,3:1,7d6e7d987224435028201a426dc4cbd0,19,Cards,31,632349,"1. Yellow card , Foul",NaN,NaN
7128878,842341,Maxime Estève,2023,maxime-esteve,France,France,2002-05-26,Centre-Back,Defender,193.0,GB1,Burnley Football Club,4095313_842341,4095313,1132,1132,2024-02-10,Maxime Estève,0,0,0,0,80,2023-12-18,7000000,1132,GB1,GB1,2023,2024-02-10,31,1132,3,1,2.0,19.0,Jürgen Klopp,Vincent Kompany,Anfield,59896.0,Tim Robinson,Starting Line-up: 4-3-3 Attacking,Starting Line-up: 4-4-2 double 6,Liverpool Football Club,Burnley Football Club,3:1,cd9981c7fb0f8e978f03eff685577c1c,81,Substitutions,1132,646658,", Tactical",536508.0,NaN
7128879,842341,Maxime Estève,2023,maxime-esteve,France,France,2002-05-26,Centre-Back,Defender,193.0,GB1,Burnley Football Club,4095313_842341,4095313,1132,1132,2024-02-10,Maxime Estève,0,0,0,0,80,2023-12-18,7000000,1132,GB1,GB1,2023,2024-02-10,31,1132,3,1,2.0,19.0,Jürgen Klopp,Vincent Kompany,Anfield,59896.0,Tim Robinson,Starting Line-up: 4-3-3 Attacking,Starting Line-up: 4-4-2 double 6,Liverpool Football Club,Burnley Football Club,3:1,c60adecc7ac0c246e5d77182cd7e07e0,80,Substitutions,1132,842341,", Injury",468249.0,NaN

In [85]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7128880 entries, 0 to 7128879
Data columns (total 54 columns):
 #   Column                                Dtype
---  ------                                -----
 0   player_id_x                           int64
 1   name                                  object
 2   last_season                           int64
 3   player_code                           object
 4   country_of_birth                      object
 5   country_of_citizenship                object
 6   date_of_birth                         object
 7   sub_position                          object
 8   position                              object
 9   height_in_cm                          float64
 10  current_club_domestic_competition_id  object
 11  current_club_name                     object
 12  appearance_id                         object
 13  game_id                               int64
 14  player_club_id                        int64
 15  player_current_club_id                int64
 16  date                                  object
 17  player_name                           object
 18  yellow_cards                          int64
 19  red_cards                             int64
 20  goals                                 int64
 21  assists                               int64
 22  minutes_played                        int64
 23  date_selected                         object
 24  market_value_in_eur                   int64
 25  current_club_id                       int64
 26  player_club_domestic_competition_id   object
 27  competition_id                        object
 28  season                                int64
 29  date_x                                object
 30  home_club_id                          int64
 31  away_club_id                          int64
 32  home_club_goals                       int64
 33  away_club_goals                       int64
 34  home_club_position                    float64
 35  away_club_position                    float64
 36  home_club_manager_name                object
 37  away_club_manager_name                object
 38  stadium                               object
 39  attendance                            float64
 40  referee                               object
 41  home_club_formation                   object
 42  away_club_formation                   object
 43  home_club_name                        object
 44  away_club_name                        object
 45  aggregate                             object
 46  game_event_id                         object
 47  minute                                int64
 48  type                                  object
 49  club_id                               int64
 50  player_id_y                           int64
 51  description                           object
 52  player_in_id                          float64
 53  player_assist_id                      float64
dtypes: float64(6), int64(20), object(28)
memory usage: 2.9+ GB

In [90]:
lineup.head()

,game_lineups_id,date,game_id,player_id,club_id,player_name,type,position,number,team_captain
0,b2dbe01c3656b06c8e23e9de714e26bb,2013-07-27,2317258,1443,610,Christian Poulsen,substitutes,Defensive Midfield,5,0
1,b50a3ec6d52fd1490aab42042ac4f738,2013-07-27,2317258,5017,610,Niklas Moisander,starting_lineup,Centre-Back,4,0
2,7d890e6d0ff8af84b065839966a0ec81,2013-07-27,2317258,9602,1090,Maarten Martens,substitutes,Left Winger,11,0
3,8c355268678b9bbc7084221b1f0fde36,2013-07-27,2317258,12282,610,Daley Blind,starting_lineup,Left-Back,17,0
4,76193074d549e5fdce4cdcbba0d66247,2013-07-27,2317258,25427,1090,Roy Beerens,starting_lineup,Right Winger,23,0

In [100]:
club_games.head()

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468,0,NaN,Holger Bachthaler,24,2,NaN,Armin Veh,Home,0
1,2320460,1,3,NaN,Jürgen Luginger,86,1,NaN,Robin Dutt,Home,1
2,2320472,2036,4,NaN,Frank Schmidt,72,5,NaN,Alexander Schmidt,Home,0
3,2321044,16,2,1.0,Jürgen Klopp,23,1,15.0,Torsten Lieberknecht,Home,1
4,2321060,23,0,18.0,Torsten Lieberknecht,24,2,11.0,Armin Veh,Home,0

In [93]:
games.head()

,game_id,competition_id,season,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
1876,3050170,GB1,2018,2018-08-11,1110,631,0,3,19.0,2.0,David Wagner,Maurizio Sarri,John Smith's Stadium,24121.0,Chris Kavanagh,3-5-2 flat,4-3-3 Attacking,Huddersfield Town,Chelsea Football Club,0:3,domestic_league
1877,3050215,GB1,2018,2018-09-15,1010,985,1,2,4.0,8.0,Javi Gracia,José Mourinho,Vicarage Road,20537.0,Mike Dean,4-4-2,4-2-3-1,Watford FC,Manchester United Football Club,1:2,domestic_league
1878,3050250,GB1,2018,2018-10-20,631,985,2,2,3.0,10.0,Maurizio Sarri,José Mourinho,Stamford Bridge,40721.0,Mike Dean,4-3-3 Attacking,4-3-3 Attacking,Chelsea Football Club,Manchester United Football Club,2:2,domestic_league
1879,3050264,GB1,2018,2018-10-27,180,762,0,0,16.0,19.0,Mark Hughes,Rafael Benítez,St Mary's Stadium,30736.0,Chris Kavanagh,4-4-2 double 6,4-4-2 double 6,Southampton FC,Newcastle United Football Club,0:0,domestic_league
1880,3050336,GB1,2018,2018-12-15,543,989,2,0,7.0,11.0,Nuno Espírito Santo,Eddie Howe,Molineux Stadium,30997.0,Simon Hooper,3-5-2,3-4-2-1,Wolverhampton Wanderers Football Club,Association Football Club Bournemouth,2:0,domestic_league

In [88]:
game_events.head()

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
333104,0aadcffd27bdedcc8c883b1d411de7ae,2018-08-12,3040104,42,Goals,131,18944,", Left-footed shot, 1. Tournament Goal Assist:...",NaN,28003.0
333105,c995f37acac85c6fb4348e74dc50914c,2018-08-12,3040104,85,Substitutions,368,45319,", Tactical",146854.0,NaN
333106,9bbeb2b4ebf0ed14b9cc34cbce2622aa,2018-08-12,3040104,16,Cards,131,65230,"1. Yellow card , Foul",NaN,NaN
333107,c03df994e6bf1f1cb60aa0de82d1de03,2018-08-12,3040104,9,Goals,368,74230,", Left-footed shot, 1. Tournament Goal Assist:...",NaN,119228.0
333108,d48b66e32555334ce760e611ba6430ff,2018-08-12,3040104,71,Substitutions,368,74230,", Tactical",88490.0,NaN

In [91]:
appearances.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

In [99]:
club_games['game_id'] == 2320450

0          True
1         False
2         False
3         False
4         False
          ...
134837    False
134838    False
134839    False
134840    False
134841    False
Name: game_id, Length: 134842, dtype: bool

In [94]:
clubs.head()

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
0,105,sv-darmstadt-98,Sportverein Darmstadt 1898 e. V.,L1,NaN,31,26.6,11,35.5,1,Merck-Stadion am Böllenfalltor,17810,€-1.48m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,FK Ural Yekaterinburg,RU1,NaN,27,27.9,15,55.6,6,Yekaterinburg Arena,23000,€-895k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,35,26.7,17,48.6,13,Tüpraş Stadyumu,42590,€-26.00m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,26.9,18,69.2,16,Olimpico di Roma,73261,+€63.00m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,26,25.4,20,76.9,21,Tottenham Hotspur Stadium,62850,€-151.40m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...